body {
   background-color: #e8c0c0;

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

h1 {
    color: rgb(16, 0, 54);
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.counter-output {
    font-size: 50px;
    color: rgb(19, 6, 6);

}

.button-container {
    margin:40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 15px;
}

.button-control{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #964848;
    color: #D9D9D9;
    font-size: 2rem;

}


.reset {
    height: 50px;
    width: 70px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    background-color: #514c4c;
    color: #D9D9D9;
    font-size: 1.4rem;
}

.save {
    height: 50px;
    width: 70px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    background-color: rgb(81, 81, 224);
    color: #D9D9D9;
    font-size: 1.4rem;
}


h2 {
    color: rgb(155, 6, 8);
    font-size: 40px;
    margin: 40px;
}

.records {
    font-size: 30px;
    list-style-type:none;
}